@import url('https://fonts.cdnfonts.com/css/whois');

#about {
    background: linear-gradient(135deg, rgba(0, 64, 77, 0.9) 0%, rgba(2, 12, 27, 0.8) 100%) 0% 0% / contain, url('../images/landing-page.png') center center no-repeat;
    height: 45em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#about p {
    font-family: 'Whois', sans-serif;
}

.name {
    letter-spacing: 1.2rem;
    font-size: 2rem;
    font-weight: 400;
    overflow: hidden;
    white-space: nowrap;
    animation: 5s steps(20) 0s 1 normal none running lmTpqN, 1s ease-in-out 8s infinite normal none running barre;
    border-right: 4px solid rgb(250, 250, 250);
    margin: auto;
    width: 27ch;
}

.job {
    font-size: 4rem;
    margin: 1.5rem 0px;
    background: linear-gradient(to right, rgb(249, 105, 14) 0%, rgb(102, 51, 153) 100%) text;
    -webkit-text-fill-color: transparent;
}

.mainSkills {
    text-transform: none;
    font-size: 1.7rem;
    font-weight: 400;
}

.arrow-down {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    left: 50%;
    text-align: center;
    transform: rotate(45deg);
}

.arrow {
    border: solid #fff;
    border-width: 0 5px 5px 0;
    display: inline-block;
    padding: 1em;
    animation: bounce 1s infinite;
}

.btn-project {
    background: none;
    color: rgb(0, 206, 158);
    padding: 10px 20px;
    border: 2px solid rgb(0, 206, 158);
    border-radius: 5px;
    font-size: 14px;
    font-family: Poppins, "sans-serif";
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
}

.btn-hire {

    background: rgb(0, 206, 158);
    color: white;
    padding: 10px 20px;
    margin: 15px 0px 0px 20px;
    border: 2px solid rgb(0, 206, 158);
    border-radius: 5px;
    font-size: 14px;
    font-family: Poppins, "sans-serif";
    font-weight: 500;
    cursor: pointer;
    display: inline-block;
}

.icons {
    position: fixed;
    right: 20px;
}


.font-icon {
    font-size: 2em;
}

.link-gt {
    margin-top: 10px;
}

.smooth-scroll {
    transition: scroll-behavior 0.5s ease-in-out;
}


@keyframes barre {
    0% {
        border-right: 4px solid rgba(255, 255, 255, 0);
    }

    100% {
        border-right: 4px solid rgb(194, 194, 194);
    }
}

@keyframes lmTpqN {
    75% {
        width: 0ch;
    }

    100% {
        width: 27ch;
    }
}

@keyframes bounce {

    0%,
    20%,
    50%,
    80%,
    100% {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-20px);
    }

    60% {
        transform: translateY(-10px);
    }
}