/* Navbar.css */

.navbar {
    background-color: #2d3748;
    /* Couleur de fond */
}

.navbar-brand {
    font-size: 1.5rem;
    /* Taille du texte du logo */
}

.navbar-nav .nav-link {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    color: #fff;
    /* Couleur du texte */
    transition: color 0.3s ease;
    /* Transition de couleur au survol */
}

.navbar-nav .nav-link:hover {
    color: #fff;
    /* Couleur du texte au survol */
}

.navbar-toggler-icon {
    background-color: #fff;
    /* Couleur de l'icône du bouton de bascule */
}

.navbar-toggler {
    border-color: #fff;
    /* Couleur de la bordure du bouton de bascule */
}

.navbar-toggler:focus {
    outline: none;
    /* Supprimer la bordure au focus pour une meilleure accessibilité */
}